// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------

.icon-empty {
    width: 47px;
    height: 41px;
    display: inline-block;
    background-image: url(/assets/img/ys-icons-sprites-std.png?v=1542795329334);
    background-position: -514px -264px;
    vertical-align: middle;
    margin-right: 10px;
}
.icon-cost {
    width: 24px;
    height: 19px;
    background-image: url(/assets/img/ys-icons-sprites-std.png?v=1542795329334);
    background-position: -582px -295px;
    display: block;
}
.icon-hour {
    background-image: url(/assets/img/ys-icons-sprites-std.png?v=1542795329350);
    background-position: -582px -268px;
    width: 22px;
    height: 22px;
    display: block;
}
.icon-motorbike {
    background-image: url(/assets/img/ys-icons-sprites-std.png?v=1542795329334);
    background-position: -391px -422px;
    width: 30px;
    height: 18px;
    display: block;
}
.icon-add-product {
    width: 8px;
    height: 10px;
    background-position: -497px -418px;
    background-image: url(/assets/img/ys-icons.png?v=1542795329334);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}
.icon-right {
    width: 8px;
    height: 7px;
    background-position: -706px -384px;
    background-image: url(/assets/img/ys-icons.png?v=1542795329334);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: initial;
}
.icon-share {
    background-image: url(/assets/img/ys-icons-sprites-std.png?v=1542795329350);
    background-position: -397px -450px;
    width: 15px;
    height: 11px;
    vertical-align: middle;
    display: inline-block;
}
.icon-favorite {
    background-image: url(/assets/img/ys-icons.png?v=1542795329334);
    width: 15px;
    height: 15px;
    background-position: -1158px -409px;
    vertical-align: middle;
    display: inline-block;
}

.icon-close {
    background-image: url(/assets/img/ys-icons.png?v=1542795329334);
    width: 7px;
    height: 7px;
    background-position: -179px -385px;
    vertical-align: middle;
    display: inline-block;
}
.icon-detail-popup {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 1px 1px #d5d5d5;
    border: 1px solid #f2f2f2;
    background-position: -668px -379px;
    margin: -2px 0 0 10px;
    background-image: url(/assets/img/ys-icons.png?v=1542795329334);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block
}