html {
  box-sizing: border-box;
}
body {
    font-size: $font-size-base;
    color: $primary-color;
    line-height: 1.42857;
    font-family: $font-family-base;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
.section {
    display: block;
}