<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yemeksepeti</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app='data'  ng-app="data" ng-controller="restaurantData">
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="special-categories" >
                    <a href="#">
                        <img src="assets/img/header-top/secilmis_menuler.png" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/img/header-top/vodafonemenuleri_icon.png" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/img/header-top/kampusicon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="header__inner">
            <div class="container">
                <div class="main-logo">
                    <a href="/">
                        <img src="assets/img/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="mainpage">
        <section class="subheader">
            <div class="container">
                <h1 class="subheader__title"> {{ ::datas[0].DisplayName }}</h1>
                <div class="breadcrumb">
                    <a href="#">İstanbul Yemek Siparişi</a>
                    <a href="#"> {{ ::datas[0].DefinitionName }} </a>
                    <a href="#">{{ ::datas[0].DisplayName }}</a>
                </div>
            </div>
        </section>
        <section ng-controller="menuData">
            <div class="container">
                <div class="left-side">
                    <div class="basket-wrapper">
                        <div class="basket-wrapper__title">YEMEK SEPETİM</div>
                        <div class="basket-wrapper__location" >
                            <span class="basket-wrapper__location-place" ng-show="card.length > 0">McDonald's, Altunizade (Capitol)</span>
                            <span>{{ ::datas[0].DisplayName.split(',')[1]}}</span>
                        </div>
                        <div class="item-box-default" ng-show="card.length < 1">
                            <div class="item-box-default__empty">
                                <i class="icon-empty"></i>
                                <span class="item-box-default__empty-text">Sepetiniz henüz boş.</span>
                            </div>
                        </div>
                        <div class="basket-items">
                                <div class="basket-items__item" ng-repeat="(index, added) in card">
                                    <div class="basket-items__item-name">
                                        {{ ::added.DisplayName }}
                                    </div>
                                    <div class="basket-items__item-count">
                                        <input type="text" name="" ng-model="added.count">
                                    </div>
                                    <div class="basket-items__item-price">
                                        {{ ::added.ListPrice }}
                                    </div>
                                    <div class="basket-items__actions">
                                        <a href="#" ng-click="deleteCard(index)">
                                            <i class="icon-close"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="basket-total" ng-if="card.length > 0">
                                <b>Toplam</b>
                                <b class="basket-total__total-price">
                                    {{ totalPrice() }}
                                 </b>
                            </div>
                            <div class="confirm-button" ng-if="card.length > 0">
                                <button type="button">SEPETİ ONAYLA</button>
                            </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="detailtop">
                        <div class="points-wrapper">
                            <b class="points-wrapper__title">Restoran Puanları</b>
                            <div class="points-wrapper__points">
                                <div class="points-wrapper__point">
                                    <span class="points-wrapper__point-title">Hız</span>
                                    <span class="points-wrapper__point-value">
                                        {{ ::datas[0].Speed}},0
                                    </span>
                                </div>
                                <div class="points-wrapper__point">
                                    <span class="points-wrapper__point-title">Servis</span>
                                    <span class="points-wrapper__point-value">
                                        {{ ::datas[0].Serving}},0
                                    </span>
                                </div>
                                <div class="points-wrapper__point">
                                    <span class="points-wrapper__point-title">Lezzet</span>
                                    <span class="points-wrapper__point-value">
                                        {{ ::datas[0].Flavour}},0
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="short-info-wrapper">
                            <div class="short-info-wrapper__item">
                                <div class="short-info-wrapper__icon">
                                    <i class="icon-cost"></i>
                                </div>
                                <div class="short-info-wrapper__title">
                                    Minimum Paket Tutarı
                                </div>
                                <div class="short-info-wrapper__description">
                                    <b>
                                        {{ ::datas[0].DeliveryFee}} TL
                                    </b>
                                </div>
                            </div>
                            <div class="short-info-wrapper__item">
                                <div class="short-info-wrapper__icon">
                                    <i class="icon-hour"></i>
                                </div>
                                <div class="short-info-wrapper__title">
                                    Çalışma Saatleri (bugün)
                                </div>
                                <div class="short-info-wrapper__description" ng-repeat="hours in datas[0].WorkingHours | filter:{'IsToday':'true'}">
                                    <b>
                                        {{ ::hours.WorkingHours[0]}}
                                    </b>
                                </div>
                            </div>
                            <div class="short-info-wrapper__item">
                                <div class="short-info-wrapper__icon">
                                    <i class="icon-motorbike"></i>
                                </div>
                                <div class="short-info-wrapper__title">
                                    Servis Süresi (ortalama)
                                </div>
                                <div class="short-info-wrapper__description">
                                    <b>
                                        {{ datas[0].DeliveryTime}} dk.
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="rest-logo-wrapper">
                            <img src="assets/img/rest-logo.gif" alt="">
                        </div>
                    </div>
                    <div class="rest-detail-tabs" >
                        <div ng-app>
                            <ul class="tab-navigation">
                                <li class="tab-navigation__item " ng-class="{active: selected == 1}">
                                    <a href="#" ng:click="selected=1"  >Başlıklar</a>
                                </li>
                                <li class="tab-navigation__item" ng-class="{active: selected == 2}" ng-init="selected=2">
                                    <a href="#" ng:click="selected=2"  >Menü</a>
                                </li>
                                <li class="tab-navigation__item" ng-class="{active: selected == 3}" >
                                    <a href="#" ng:click="selected=3" >Bilgiler</a>
                                </li>
                            </ul>
                            <div class="social-wrapper">
                                <div class="social-wrapper__share">
                                    <a href="">
                                        <i class="icon-share"></i>
                                        <b>Restoranı Paylaş</b>
                                    </a>
                                </div>
                                <div class="social-wrapper__add-favorite">
                                    <a href="">
                                        <i class="icon-favorite"></i>
                                        <b>Favorilere Ekle</b>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-content"  ng:show="selected == 1">
                                <div class="menu-wrapper">
                                    <ul>
                                        <li ng-repeat="menuItem in menu.ResultSet">
                                            <i class="icon-right"></i>
                                            <a class="menu-wrapper__item" href="#">
                                                {{ ::menuItem.DisplayName}}    
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content"  ng:show="selected == 2">
                                <div class="detail-content" ng-repeat="menuItem in menu.ResultSet">
                                    <div class="detail-content__title" ng-class="'{{ ::menuItem.Oid }}' === '1799857' ? 'selected' : ''" >
                                        <b>
                                            {{ ::menuItem.DisplayName}} 
                                        </b>
                                    </div>
                                    <div class="detail-content__list" >
                                        <ul>
                                            <li class="detail-content__list-item" ng-repeat="product in menuItem.Products" ng-init="product.count = 1" ng-class="'{{ ::menuItem.Oid }}' === '1799857' ? 'selected' : ''">
                                                <div class="detail-content__list-item-detail">
                                                    <input type="text" class="detail-content__item-count" value="1" ng-model="product.count" ng-class="'{{ ::product.ProductIsOpen }}' === 'Kapali' ? 'not-available' : ''">
                                                    <button  ng-click="addData( product )" class="detail-content__add-product" ng-class="'{{ ::product.ProductIsOpen }}' === 'Kapali' ? 'not-available' : ''">
                                                        <i class="icon-add-product"></i>
                                                    </button>
                                                    <span class="detail-content__product-name" ng-class="'{{ ::product.ProductIsOpen }}' === 'Kapali' ? 'not-available' : ''">
                                                        {{ ::product.DisplayName}}
                                                        <strong class="detail-content__available-warning" ng-show="'{{ ::product.ProductIsOpen }}' === 'Kapali'">- Şu anda mevcut değil.</strong>
                                                    </span>
                                                </div>
                                                <span class="detail-content__product-info" ng-show="'{{ ::product.Description }}' != '...'">
                                                    {{ ::product.Description}}
                                                </span>
                                                <span class="detail-content__old-price" ng-show="('{{ ::product.ExtendedPrice }}').localeCompare('{{ ::product.ListPrice}}') != '0'">
                                                    {{ ::product.ExtendedPrice}}
                                                </span>
                                                <span class="detail-content__product-price">
                                                    {{ ::product.ListPrice}}
                                                </span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-content"  ng:show="selected == 3">
                                <div class="subdetail-info-box">
                                    <div class="subdetail-info-box__item">
                                        <a href="" class="subdetail-info-box__title">
                                            Göderim Bölgeleri
                                            <i class="icon-detail-popup"></i>
                                        </a>
                                        <span class="subdetail-info-box__description">Minimum Paket Tutarı</span>
                                        <b>
                                            {{ ::datas[0].DeliveryFee}} TL:
                                        </b> 
                                        <span class="subdetail-info-box__highlightText">
                                            {{ ::datas[0].DisplayName.split(',')[1]}}
                                        </span>
                                    </div>
                                    <div class="subdetail-info-box__item">
                                        <a href="" class="subdetail-info-box__title">
                                            Çalışma Saatleri
                                            <i class="icon-detail-popup"></i>
                                        </a>
                                        <b>
                                            Pazartesi
                                        </b> 
                                        <span class="subdetail-info-box__highlightText" ng-repeat="hours in datas[0].WorkingHours | filter:{'IsToday':'true'}">
                                           {{ ::hours.WorkingHours[0]}}
                                        </span>
                                    </div>
                                    <div class="subdetail-info-box__item">
                                        <a href="" class="subdetail-info-box__title">
                                           Servis Süresi
                                        </a>
                                        <b>
                                           {{ datas[0].DeliveryTime}} dakika (ortalama)
                                        </b> 
                                    </div>
                                </div>
                                <div class="delivery-areas">
                                    <div class="delivery-areas__item-wrapper">
                                        <div class="delivery-areas__title">Tüm Kampüsler</div>
                                        <div class="delivery-areas__item" ng-repeat="campus in datas[0].DeliveryAreas | filter:{'AreaType':'Campus'}">
                                            <b>
                                                {{ campus.MinimumPrice }},00 TL:<b>
                                            <span class="delivery-areas__description">
                                                {{ campus.AreaName }}
                                            <span>
                                        </div>
                                    </div>
                                    <div class="delivery-areas__item-wrapper">
                                        <div class="delivery-areas__title">Tüm Semtler</div>
                                        <div class="delivery-areas__item" ng-repeat="cities in datas[0].DeliveryAreas | filter:{'AreaType':'Area'}">
                                            <b>
                                                {{ cities.MinimumPrice }},00 TL:<b>
                                            <span class="delivery-areas__description">
                                                {{ cities.AreaName }}
                                            <span>
                                        </div>
                                    </div>
                                </div>
                                <div class="working-hours-wrapper">
                                    <h1>Çalışma Saatleri</h1>
                                    <div class="working-hours-wrapper__item">
                                        <b>Pazartesi :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[0].WorkingHours[0] }}
                                        </span>
                                    </div>
                                    <div class="working-hours-wrapper__item">
                                        <b>Salı :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[1].WorkingHours[0] }}
                                        </span>
                                    </div>
                                    <div class="working-hours-wrapper__item">
                                        <b>Çarşamba :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[2].WorkingHours[0] }}
                                        </span>
                                    </div>
                                    <div class="working-hours-wrapper__item">
                                        <b>Perşembe :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[3].WorkingHours[0] }}
                                        </span>
                                    </div>
                                    <div class="working-hours-wrapper__item">
                                        <b>Cuma :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[4].WorkingHours[0] }}
                                        </span>
                                    </div>
                                    <div class="working-hours-wrapper__item">
                                        <b>Cumartesi :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[5].WorkingHours[0] }}
                                        </span>
                                    </div>
                                    <div class="working-hours-wrapper__item">
                                        <b>Pazar :</b>
                                        <span class="working-hours-wrapper__desc">
                                            {{ datas[0].WorkingHours[6].WorkingHours[0] }}
                                        </span>
                                    </div>
                                </div>
                                <div class="general-info-box">
                                    <div class="general-info-box__item">
                                        <div class="general-info-box__title">
                                            Promosyonlar
                                        </div>
                                        <div class="general-info-box__description" >
                                            <span ng-repeat="discounts in datas[0].Discounts">
                                                {{ ::discounts.Name}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="general-info-box__item" ng-show="datas[0].Warnings.length > 0">
                                        <div class="general-info-box__title">
                                            Uyarılar & Bilgiler
                                        </div>
                                        <div class="general-info-box__description">
                                             <span>Nispetiye Caddesi bölgesine minimum paket gönderim tutarı 30 TL'dir.</span>
                                        </div>
                                    </div>
                                    <div class="general-info-box__item">
                                        <div class="general-info-box__title">
                                            Ödeme Şekilleri
                                        </div>
                                        <div class="general-info-box__description payment">
                                             <ul>
                                                 <li ng-repeat="paymentMethods in datas[0].PaymentMethods">
                                                    {{ ::paymentMethods.PaymentMethodName }}
                                                 </li>
                                             </ul>
                                        </div>
                                    </div>
                                    <div class="general-info-box__item">
                                        <div class="general-info-box__title">
                                            Bilgiler
                                        </div>
                                        <div class="general-info-box__description">
                                             <span>
                                                 <b>Kep Adresi:</b>...
                                             </span>
                                             <span>
                                                 <b>İşletme Adı:</b>{{ ::datas[0].DisplayName }}
                                             </span>
                                             <span>
                                                 <b>Vergi No / Mersis Numarası:</b> ---
                                             </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>
    <!-- Js Files-->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>