// -----------------------------------------------------------------------------
// Mixins
// -----------------------------------------------------------------------------


// Clear inner floats
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}


// Media Code
@mixin respond-to($breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
}



