// Font Size
$font-size-base: 11px;

//Colors
$primary-color: #333;
$secondary-color: #ab0012;
$orange: #ff6508;
$white: #fff;
$gray : #949494;
$light-gray: #e5e5e5;
$green: #48912a;
$green-dark: #366d20;

//Font Family
$font-family-base: Verdana,Geneva,sans-serif;
$font-family-secondary: Open Sans,sans-serif;


//Fontweight 
$font-bold: 700;
$font-bolder: 600;
$font-middle: 500;
$font-light: 100;