// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
.detail-content {
    &__add-product {
        padding: 5px 11px;
        margin: 0 20px 0 0;
        background-color: $green;
        box-shadow: 0 2px 0 rgba(0,0,0,.15), inset 0 1px 0 hsla(0,0%,100%,.19);
        border: 0;
        border-radius: 3px;
        cursor: pointer;
        
        &.not-available {
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
        }
        &:hover {
            background-color: $green-dark;
        }
    }
}

.confirm-button {
    padding: 7px 8px;
    background-color: #e5e5e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    button {
        width: 100%; 
        background-color: $green;
        color: #fff;
        display: block; 
        padding: 8px 17px;
        text-align: center;
        border: 0;
        outline: none;
        border-radius: 3px;
        font-weight: $font-bold;
        font-family: $font-family-secondary;
        cursor: pointer;
    }
}