// -----------------------------------------------------------------------------
// Tab
// -----------------------------------------------------------------------------
.tab-navigation {
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  float: left;

  &__item {
    margin-bottom: 0;
    float: left;
    position: relative;
    display: block;
      &.active {
          a {
              padding: 9px 25px 12px;
              bottom: -1px;
              color: $orange;
              border: 1px solid #e5e5e5;
              border-bottom: none;
              background: $white;
          }
      }
    a {
        padding: 10px 25px;
        font-size: 16px;
        color: $primary-color;
        line-height: 1.8;
        margin-right: 5px;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        position: relative;
        display: block;
        font-weight: $font-middle;      
        font-family: $font-family-secondary;
        cursor: pointer;
    }
  }
}

.tab-content {
  width: 100%;
  padding: 20px 0 0;
  float: left;
  display: block;
}

  
