// -----------------------------------------------------------------------------
// BreadCrumb
// -----------------------------------------------------------------------------

.breadcrumb {
    padding: 0;
    background-color: transparent;

    a {
        text-decoration: underline;
        color: $orange;

        &:after {
            content: '';
            width: 3px;
            height: 6px;
            background-position: -239px -385px;
            margin: 0 10px;
            background-color: transparent;
            background-image: url(/assets/img/ys-icons.png?v=1542795329334);
            background-repeat: no-repeat;
            display: inline-block;
        }
        &:last-child {
            color: $primary-color;
            &:after {
                content: none;
            }
        }
    }
}