// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
    width: 100%;
    &__top {
        width: 100%;
        height: 73px;
        background-color: #e9ebec;
        background-image: linear-gradient(#e9ebec,#fff);
    }
    &__inner {
        width: 100%;
        height: 80px;
        position: relative;
        background: $secondary-color;
        margin-top: -2px;
    }
}
.special-categories {
    float: right;
    margin-top: 10px;
}
.main-logo {
    position: relative;

    img {
        width: 157px;
        height: 155px;
        top: -60px;
        left: 48px;
        opacity: 1;
        z-index: 1;
        border-radius: 50%;
        position: absolute;
    }
}