// -----------------------------------------------------------------------------
// Left Content
// -----------------------------------------------------------------------------
.left-side {
    width: 25%;
    padding: 0 6px;
    float: left;
}

.basket-wrapper {
    &__title {
        color: $white;
        padding: 10px 11px;
        background-color: $secondary-color;
        font-size: 12px;
        font-family: $font-family-secondary;
        font-weight: $font-bold;
        line-height: 15px;
    }
    &__location {
        background-color: #ffd55a;
        padding: 7px 11px;
    }
    &__location-place {
        color: #ff6508;
        text-decoration: underline;
        margin-bottom: 3px;
        display: block;
    }
}
.item-box-default {
    font-weight: $font-bold;
    font-size: $font-size-base;
    padding: 13px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid $light-gray;
    border-top: 0;

    &__empty-text {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-top: 15px;
    }
}
.basket-items {
    max-height: 350px;
    overflow-y: auto;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
    font-size: 9px;

    &__item {
            border-bottom: 1px solid $light-gray;
    }
    &__item-name {
        width: 54%;
        padding: 8px 6px;
        display: inline-block
    }
    &__item-count {
        width: 8%;
        display: inline-block;

        input {
            width: 20px;
            padding: 0 2px;
            border: 1px solid $light-gray;
            border-radius: 2px;
            background-color: $white;
            box-shadow: 0 -1px 0 rgba(51,51,51,.2);
            font-family: inherit;
            text-align: center;
            vertical-align: middle;
        }
    }
    &__item-price {
        width: 23%;
        text-align: right;
        display: inline-block;
    }
    &__actions {
        width: 8%;
        padding-left: 8px;
        display: inline-block;
        margin-bottom: -2px;
    }
}
.basket-total {
    padding: 7px 8px;
    border: 1px solid $light-gray;

    &__total-price {
        float: right;
    }
}
