// -----------------------------------------------------------------------------
// Right Content
// -----------------------------------------------------------------------------

.right-side {
    width: 75%;
    padding: 0 6px 50px 6px;
    float: left;
}
.rest-detail-tabs {
    margin-top: 25px;
    position: relative;
}
.detailtop {
    height: 117px;
    border: 1px solid #f2f2f2;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 1px 1px 0 #d5d5d5;
    background-color: hsla(0,0%,100%,0);
    margin: 0 0 15px;
}
.points-wrapper {
    width: 186px;
    height: 116px;
    padding: 5px 4px;
    border-right: 1px solid #eff0f2;
    float: left;    

    &__title {
        margin: 9px 0 10px 10px;
        display: block;
        color: $gray;
    }
    &__points {
        margin: 9px 0 10px 10px;
    }
    &__point {
        width: 49px;
        height: 59px;
        float: left;
        border-radius: 3px;
        margin: 0 5px 0 0;
        padding: 0;
        background-color: #d6d036;
        color: $white;
        font-size: 12px;
         font-weight: $font-bold;
    }
    &__point-title,&__point-value {
        color: $white;
        font-size: 10px;
        display: block;
        text-align: center;
        font-weight: $font-bolder;
        font-family: $font-family-secondary;
    }
    &__point-title {
        margin: 5px auto auto;
    }
    &__point-value {
        font-size: 26px;
        letter-spacing: -1px;
        margin-right: 2px;
    }
}
.short-info-wrapper {
    width: 370px;
    height: 116px;
    border-right: 1px solid #eff0f2;
    position: relative;
    padding: 8px 10px;
    float: left;
    
    &__item {
        width: 93px;
        float: left;
        padding: 3px 0 0;
        margin-right: 16px;

        &:first-child {
            margin-left: 20px;
        }
    }
    &__icon {
        height: 25px;
        margin: 5px 0;
    }
    &__title {
        color: $gray;
        font-weight: $font-bolder;
        margin-bottom: 10px;
        height: 25px;
        line-height: 14px;
        font-size: 12px;
        font-family: $font-family-secondary;
    }
}
.rest-logo-wrapper {
    width: 180px;
    height: 116px;
    position: relative;
    padding: 8px 10px;
    float: left;

    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 7px;
        height: auto; 
        max-height: 100%;
        max-width: 150px;
    }
}
.detail-content {
    margin: 0 0 20px;
    border-radius: 3px;
    border: 2px solid #f3f3f3;

    &__title {
        border-bottom: 1px solid #f3f3f3;
        border-radius: 3px 3px 0 0;
        padding: 12px 0 12px 12px;
        font-size: 15px;
        font-family: $font-family-secondary;

        &.selected {
            color: $white;
            background: url('../img/cocacolaBar2.png') no-repeat center center;
        }
    }
    &__list-item {
        position: relative;
        border-bottom: 1px solid #f3f3f3;
        padding: 7px 15px;

        &.selected {
            background-color: #f7f7f7
        }
    }
    &__item-count {
        width: 26px;
        height: 17px;
        display: inline-block;
        float: left;
        margin-right: 5px;
        text-align: center;
        margin-top: 2px;
        border: 1px solid $light-gray;
        border-radius: 2px;
        background-color: $white;
        box-shadow: 0 -1px 0 rgba(51,51,51,.2);
        font:inherit;

        &.not-available {
            opacity: 0;
            visibility: hidden;
            overflow: hidden;
        }
    }
    &__product-name {
        max-width: 550px;
        display: inline-block;
        margin-top: 2px;
        margin-bottom: 4px;
        color: $orange;
        font-weight: $font-bold ;

        &.not-available {
            cursor: default;
            margin-left: -4px;
            color: $gray;
        }
    }
    &__product-info {
        display: inline-block;
        margin-left: 85px;
        width: 78%;
    }
    &__product-price {
        color: $orange;
        font-weight: $font-bold;
        border: 1px solid transparent;
        margin-top: -20px;
        float: right;
    }
    &__old-price {
            margin-left: -50px;
            margin-top: -18px;
            position: absolute;
            text-decoration: line-through 
    }
    &__available-warning {
        color: #ac000b;
    }
    
}
.menu-wrapper {
    margin-top: 15px;

    &__item {
        color: #ff7208;
        display: inline;
        line-height: 22px;
        text-decoration: none;
        font-size: 11px;
        font-family: $font-family-base;
        font-weight: $font-bold;
    }
}
.social-wrapper {
    position: absolute;
    top: 0;
    right: 20px;
    
    a {
        color: $primary-color;
    }
    i {
        margin-right: 5px;
        margin-bottom: 5px;
    }
}
.general-info-box {
    &__item {
        border: 1px solid #f3f3f3;
    }
    &__title {
        padding: 0 0 5px 20px;
        background-color: #f7f7f8;
        color: $orange;
        font-weight: $font-bolder;
        margin-top: 0;
        font-size: 16px;
        height: 54px;
        line-height: 54px;
        font-family: $font-family-secondary;
        border-bottom: 1px solid #d5d5d5;
    }
    &__description { 
        width: 97%;
        margin-left: 20px;
        padding: 20px 0;

        span {
            display: block;
            &:before {
                content: '';
                width: 4px;
                height: 7px;
                background-position: -662px -384px;
                background-image: url('../img/ys-icons.png?v=1542795329334');
                background-repeat:  no-repeat center center;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
            }
        }
        &.payment {
            li {
                display: inline-block;
                &:before {
                    content: '';
                    width: 11px;
                    height: 11px;
                    background-position: -1029px -415px;
                    background-image: url('../img/ys-icons.png?v=1542795329334');
                    background-repeat:  no-repeat center center;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            
        }
    }
}

.subdetail-info-box {
    display: block;
    overflow: hidden;
    margin: 0 0 15px;
    padding: 2px 0 10px 12px;
    border-bottom: 1px solid $gray;
    &__item {
        width: 25%;
        float: left;
        margin: 5px 0;
        display: block;
        position: relative;
    }
    &__title {
        color: $gray;
        font-weight: $font-bold;
        display: block;
        margin-bottom: 4px;
    }
    &__description {
        display: block;
    }
    &__highlightText {
        color: $orange;
        text-decoration: underline;
        display: block;
        margin-top: 5px;
    }
}

.delivery-areas {
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid $gray;
    &__item-wrapper {
        width: 49%;
        display: inline-block;
        margin-bottom: 10px;
        vertical-align: top;

    }
    &__title {
        padding-bottom: 5px;
        font-size: 15px;
        font-weight: $font-bold;
    }
    &__description {
        color: $orange;
        padding-left: 10px;
    }
}

.working-hours-wrapper {
    padding: 10px 10px 20px 10px;

    b {
        display: inline-block;
        min-width: 75px;
    }
    &__desc {
        color: $orange;
        padding-left: 10px;
    }
}

