// -----------------------------------------------------------------------------
// SubHeader
// -----------------------------------------------------------------------------

.subheader {
    padding: 30px 0 20px 0;
    margin-bottom: 20px;
    background-color: #eff0f2;
    margin-top: -13px;
    background: url('../img/etDoner.jpg') no-repeat center right;
    background-size: cover;
 
    &__title {
        font-size: 24px!important;
        margin-bottom: 10px;
    }
}